/* normalize.css */
html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%
}

body {
    height: 100vh;
    background-color: #ededed;
    margin: 0;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif
}

main {
    display: block
}

h1 {
    font-size: 2em;
    margin: .67em 0
}

hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible
}

pre {
    font-family: monospace, monospace;
    font-size: 1em
}

a {
    background-color: transparent
}

abbr[title] {
    border-bottom: none;
    text-decoration: underline;
    text-decoration: underline dotted
}

b,
strong {
    font-weight: bolder
}

code,
kbd,
samp {
    font-family: monospace, monospace;
    font-size: 1em
}

small {
    font-size: 80%
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}

sub {
    bottom: -.25em
}

sup {
    top: -.5em
}

img {
    border-style: none
}

button,
input,
optgroup,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0
}

button,
input {
    overflow: visible
}

button,
select {
    text-transform: none
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
    -webkit-appearance: button
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText
}

fieldset {
    padding: .35em .75em .625em
}

legend {
    box-sizing: border-box;
    color: inherit;
    display: table;
    max-width: 100%;
    padding: 0;
    white-space: normal
}

progress {
    vertical-align: baseline
}

textarea {
    overflow: auto
}

[type="checkbox"],
[type="radio"] {
    box-sizing: border-box;
    padding: 0
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
    height: auto
}

[type="search"] {
    -webkit-appearance: textfield;
    outline-offset: -2px
}

[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit
}

details {
    display: block
}

summary {
    display: list-item
}

template {
    display: none
}

[hidden] {
    display: none
}

/* CSS styles */
@font-face {
    font-family: 'Amsterdam';
    font-style: normal;
    src: url(Amsterdam.ttf)
}

ul {
    box-shadow: 0 0 100px #694c33;
    overflow: hidden;
    border: 10px solid #ededed;
    border-radius: 45px;
    margin: 20px auto 0 auto;
    padding: 0;
    display: inline-block;
    list-style: none;
    white-space: nowrap
}

ul li {
    display: inline-block;
    margin-bottom: -4px;
    width: 175px;
    height: 325px
}

.btn {
    padding: 10px 30px;
    font-weight: 800;
    border: 5px solid #ededed;
    box-shadow: 0 0 100px #694c33;
    border-radius: 15px;
    outline: none;
    background: linear-gradient(to right, #cf80c5, #dfdeca, #694c33);
    display: block;
    position: relative;
    margin-top: 30px;
    left: 50%;
    transform: translateX(-50%)
}

.btn:active {
    background: linear-gradient(to right, #694c33, #dfdeca, #cf80c5)
}

.na,
.poli,
.tano {
    box-shadow: 0 0 15px rgba(0, 0, 0, .5)
}

.na {
    background-color: #cf80c5
}

.poli {
    background-color: #dfdeca
}

.tano {
    background-color: #694c33
}

#nap {
    margin-top: 50px;
    font-family: 'Amsterdam', cursive !important;
    text-transform: capitalize
}

@media (min-width: 993px) {
    .btn {
        cursor: pointer
    }
}